# Dataset
dataset/

# Python
ml_service/.venv/
ml_service/services/__pycache__
ml_service/recommenders/__pycache__
ml_service/preprocessing/__pycache__
ml_service/utils/__pycache__
ml_service/__pycache__/
ml_service/.ipynb_checkpoints/

# Models
ml_service/saved_models/

# React
frontend/node_modules/
frontend/dist/

# Spring Boot
backend/target/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db