# Dataset
dataset/

# Python
__pycache__/
*.py[cod]
.venv/
ml_service/saved_models/

# React
frontend/node_modules/
frontend/dist/

# Spring Boot
backend/movie-service/target/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse / STS
.project
.classpath
.settings/
.springBeans
.sts4-cache/

# OS
.DS_Store
Thumbs.db